site_name: AlmaSEO Docs

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - header.autohide
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ilaos/myproject-docs
    - icon: fontawesome/brands/wordpress
      link: https://api.almaseo.com/
      name: Dashboard

nav:
  - Home: index.md
  - Getting Started:
    - Installation: installation.md
    - IP Whitelisting: configuration/ip-whitelisting.md
  - Features: features/index.md
  - User Manual: user-manual.md
  - FAQs: faq.md

extra_css:
  - stylesheets/extra.css
